<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem, quia nihil? Eos sint inventore vel totam
    ipsam. Magni a rem optio, et sit, sunt eaque, unde saepe necessitatibus ut reprehenderit laborum numquam placeat
    iste quam! Asperiores eos reiciendis quos delectus velit atque eveniet provident rerum quisquam sequi numquam culpa
    ex quod repellat, necessitatibus doloribus libero magnam optio, voluptatum ea dolore error cupiditate voluptas.
    Error fugit dicta recusandae, ipsam repudiandae repellat numquam amet, inventore, ex deleniti nemo dolorem neque
    nisi! Veniam necessitatibus, numquam saepe tenetur ex iste pariatur modi consequuntur, nostrum dolores delectus a
    quo temporibus corrupti omnis minus qui magni.</p>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis debitis iusto ipsam nihil voluptatibus rerum
    error inventore? Vitae consequatur quas nobis modi, ipsa architecto tempore laudantium, dicta ut nulla iure animi
    voluptate, adipisci voluptatibus saepe eos praesentium reprehenderit enim natus ab! Voluptatibus, dolores!
    Explicabo, iusto esse dignissimos itaque perferendis expedita temporibus eaque sit at aspernatur veritatis eveniet
    iure magni. Autem debitis, repudiandae eaque eius ut ipsam commodi molestias eos enim incidunt! Voluptate, quae hic
    commodi enim mollitia alias, et fuga reprehenderit perspiciatis porro nam velit pariatur at. Soluta eveniet labore,
    molestiae voluptates, consectetur deserunt dicta, expedita quas animi eaque nostrum?</p>

<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusantium, voluptatum id magni voluptatibus illo minus
    natus nulla facilis rerum tempore quos esse expedita voluptas asperiores perspiciatis nihil voluptatem! Sequi earum
    eum quam adipisci, voluptatum est, commodi veritatis libero dolorem temporibus molestiae beatae ratione veniam
    harum, architecto voluptatem autem facere velit ex dicta a ea at. Quisquam recusandae iure nesciunt aliquid atque
    error perferendis consectetur eum cupiditate labore! Molestiae distinctio nulla dolore harum, doloribus odio vero
    deleniti quisquam quia maxime exercitationem reprehenderit illum quasi nemo id quaerat maiores accusantium! Aut vero
    corrupti labore doloribus qui, aspernatur et error dolorem accusantium velit obcaecati distinctio, tempora
    reiciendis provident pariatur nisi, dicta aperiam doloremque commodi facere quaerat quis repudiandae magni at.
    Aperiam nihil magnam incidunt error ullam distinctio itaque veritatis perferendis tempora, dignissimos quis non! Ea
    soluta eius voluptates sed perferendis ratione quam tempora nisi voluptatem aliquam, numquam nihil, repellat animi
    iusto exercitationem corrupti.</p>


App\Models\Post::create([
'title' => 'Doktrin Manusia',
'slug' => 'doktrin-manusia',
'excerpt' => 'Lorem ipsum doktrin manusia dolor sit amet consectetur adipisicing elit. Nulla omnis quas illum possimus
provident voluptatibus, soluta quos neque quasi natus autem, reprehenderit nobis aliquam vitae?',
'body' => '<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias ipsa beatae libero obcaecati fuga hic
    iure! Repellendus eos iure exercitationem ut! Accusamus at nisi sequi tempore dolorem labore voluptatibus cumque,
    nihil consectetur, minima fugiat. Maiores officiis impedit culpa itaque laudantium aliquid architecto, soluta, ut
    perferendis, consectetur non excepturi! Placeat, quidem.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime perferendis in praesentium, maiores excepturi culpa
    sint tempore repudiandae nobis temporibus porro distinctio! Saepe architecto laudantium soluta ut, nemo veritatis,
    numquam, omnis sequi voluptatum delectus distinctio aliquam alias quas magnam quae ipsam accusantium placeat
    expedita! Sed, dolore consequatur! In, nam molestiae.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem enim alias hic voluptatum nulla asperiores
    nam tempore esse, perspiciatis rerum laborum in pariatur, ex odio! Itaque error expedita nisi distinctio
    voluptatibus nam numquam repudiandae, odio tenetur molestiae ducimus modi quas dolor animi velit adipisci. Iure
    voluptate hic, ipsa earum dignissimos eligendi suscipit nisi, rem neque quis eos veniam rerum quod ad. Nulla quia
    quam modi est earum quos beatae fugiat. In aperiam hic iusto? Quos, vero illo ex repellat voluptas itaque pariatur.
    Nihil dolore ad provident quam est. Inventore omnis provident eaque? Recusandae rerum adipisci eius fuga dicta quod
    dolorem?</p>'
])

App\Models\Category::create([
'name' => 'Teologi Historika',
'slug' => 'teologi-historika'
])


